.card {
  width: 140px;
  margin: 10px;
}

.app_ico {
  height: 50p;
  width: 50px;
}

.container {
  width: 100%;
}

.outerContainer {
  margin-top: 40px;
  justify-content: center;
}

.flex-left {
  display: flex;
  flex-wrap: wrap;
}

/* margin-left:(50% - ( (card_numer * ([card_margin * 2] + [card_width])) / 2 ) ) */

@media screen and (max-width: 991px) {
  .flex-left {
    margin-left: calc(50% - 310px);
  }
}

@media screen and (max-width: 766px) {
  .flex-left {
    margin-left: calc(50% - 250px);
  }
}

@media screen and (max-width: 484px) {
  .flex-left {
    margin-left: calc(50% - 185px)
  }
}

@media screen and (max-width: 363px) {
  .flex-left {
    margin-left: calc(50% - 165px)
  }
}